<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" type="text/css" href="./vendors/picnic.min.css">
    <link rel="stylesheet" type="text/css" href="./vendors/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app">
      <div id="panel">
        <nav>
          <a href="#" class="brand" @click="changeState('list')">Release!!</a>
          <div class="menu">
            <button
              class="button-default"
              v-if="state === 'list'"
              @click="checkUpdatedRepositories"
              :disabled="isUnReloadable">
              R
            </button>
            <button v-if="state === 'list'" class="button-default" @click="changeState('setting')">
              <i class="icon-cog"></i>
            </button>
            <button v-if="state === 'list'" @click="changeState('new')">
              <i class="icon-plus"></i>
            </button>
            <button class="button-default" v-if="state !== 'list'" @click="changeState('list')">
              <i class="icon-cancel"></i>
            </button>
          </div>
        </nav>
      </div>
      <div id="content">
        <div v-if="state === 'list'">
          <div v-if="repositories.length === 0">
            <h3 class="text-center">There is No Repositories!!</h3>
            <div class="text-center">
              <button class="pseudo" @click="changeState('new')">Add New One?</button>
            </div>
          </div>
          <div v-else>
            <h4 class="text-center">{{repositoriesCount}}</h4>
            <repository
              v-for='(repo, index) in sortedRepositories'
              v-bind:repo='repo'
              v-on:remove-repo="removeRepository(index)"
            ></repository>
          </div>
        </div>
        <div v-else-if="state === 'new'">
          <h3 class="text-center">Add New Repository</h3>
          <form v-on:submit.prevent="addRepository">
            <fieldset>
              <div>
                <label>
                  Repository :
                  <input v-model="newRepositoryName" placeholder="owner/repository">
                </label>

                <div v-if="isLoading">
                  Now Loading...
                </div>
                <div v-else>
                  <div v-if="newRepository">
                    <div class="card card-demo">
                      <h4>
                        <img class="img-avatar" :src="newRepository.owner.avatar_url">
                        <span>{{newRepository.full_name}}</span>
                      </h4>
                    </div>
                    <button v-if="!isNoRelease" :disabled="isDisabled">Save</button>
                    <button class="pseudo" v-if="isNoRelease || isDisabled" @click.prevent="changeState('list')">Close</button>
                  </div>
                  <div v-if="requestMessage">{{requestMessage}}</pre>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div v-else-if="state === 'setting'">
          <h3 class="text-center">Setting</h3>
          <h4>Sort by</h4>
          <select v-model="setting.sortBy">
            <option v-for="option in sortOptions" :value="option.value">{{option.name}}</option>
          </select>

          <h4>Refresh when</h4>
          <select v-model="setting.refreshWhen">
            <option v-for="option in refreshTimes" :value="option.value">{{option.name}}</option>
          </select>

        </div>
        <div v-else>
          <h1>Something Wrong!</h1>
        </div>
      </div>
    </div>
    <!-- Templates -->
    <template id="repository">
      <div class="card">
        <header class="repo-header">
          <div class="flex one">
            <div>
              <h4>
                <img class="img-avatar" :src="repo.owner.avatar_url">
                <a class="repo-header-link" :href="repo.html_url" target="_blank">{{repo.full_name}}</a>
                <a :href="repo.latest_release.html_url" target="_blank" class="label">
                  {{repo.latest_release.tag_name}}
                </a>
              </h4>
            </div>
          </div>
        </header>
        <div>
          <button class="pseudo button-small" v-on:click="toggleOpen">
            <span v-if="isOpen">Close</span>
            <span v-else>Details</span>
          </button>
          <button class="pseudo button-small" v-on:click="$emit('remove-repo')">
            Remove
          </button>
        </div>
        <footer class="repo-detail" v-show="isOpen" v-html="compiledMarkdown"></footer>
      </div>
    </template>
  </body>
  <script src="./vendors/marked.js"></script>
  <script src="./vendors/lodash.js"></script>
  <script src="./vendors/axios.js"></script>
  <script src="./vendors/vue.js"></script>
  <script>
  // You can also require other files to run in this process
  require('./renderer.js')
  </script>
</html>
