html {
  min-width: 400px;
  min-height: 400px;
}
#app {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

#panel {
  margin: 10px;
}
#content {
  margin-top: 60px;
  margin-left: 5px;
  margin-right: 5px;
}
.button-default {
  background-color: #fff;
  color: #000;
}

.button-small {
  font-size: .75em;
}
.repo-header {
  vertical-align: middle;
}
.img-avatar {
  width: 30px;
  height: auto;
  display: inline-block;
  vertical-align: middle
}

.repo-detail {
  width: 100%;
  font-size: .8em;
}
.repo-detail img {
  width: 100%;
}

.align-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.card-demo {
  margin-top: 10px;
  padding: 10px;
}
